<header>
  <img class="logo" src="/static/images/amazing_logo.png" alt="Amazing logo!">
  <div class="title">
    <h1 class="title">My Amazing Blog</h1>
  </div>
  <a href="/admin">Create</a>
</header>
