<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Amazing Blog</title>
</head>

<body>
  <header>
    <img class="logo" src="amazing_logo.png" alt="Amazing logo!">
    <h1 class="title">My Amazing Blog</h1>
    <a></a>
  </header>
</body>

</html>
